<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Guna.Charts.WinForms" version="1.0.9" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.5" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.0" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.0" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="22.0.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.0" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.0" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.14" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
</packages>